html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.inset {
  float: left;
  width: 49%;
  margin-right: 15px;
}

header{
  background-color: #cd5b34;
}

nav li {
    display: inline-block;
