html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.inset {
  float: left;
  width: 44%;
  margin-right: 15px;
}

header{
  background-color: #cd5b34;
}

nav li {
    display: inline-block;
}

p {
  font-family: 'Merriweather', serif;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
  font style: normal;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  padding-top:1rem;
  text-align: center;
}

.book {
  float: left;
  width: 6%;
  padding-top: 1em;
}

.something {
  float: right;
  width: 6%;
  padding-top: 1em;
}

.hhh {
  float: right;
  width: 44%;
  margin-left: 15px;
}
